<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Parent Planner</title>
    <link rel="stylesheet" href="/public/css/styles.css">
</head>
<body>
    <h1 class="title">Parent Planner</h1>
    
    {{!-- <ul>
        <li><a href="user-account.html">User Account</a></li>
        <li><a href="review-list.html">Review List</a></li>
        <li><a href="event-list.html">Event List</a></li>
    </ul> --}}

    {{!-- <p><a href="create-event.html">Create Event</a></p> --}}

       {{{body}}}

    {{!-- <script>
        fetch('/random-activity')
            .then(response => response.json())
            .then(activity => {
                document.getElementById('activityImage').innerHTML = `<img src="${activity.imageUrl}" alt="${activity.name}" width="200">`;
                document.getElementById('activityName').innerHTML = `<a href="/activities/${activity._id}">${activity.name}</a>`;
            })
            .catch(error => console.error('Error fetching random activity:', error));
    </script> --}}
</body>
</html>
