<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reviews List Page</title>
    <link rel="stylesheet" href="/public/css/styles.css">
</head>
<body>
    <h1>Reviews List Page</h1>

        <form action="/search" method="GET">
        <input type="text" name="query" placeholder="Search...">
        <button type="submit">Search</button>
    </form>

    <h2>Sort/Filter Options:</h2>
    <form id="sortFilterForm">
        <label for="sortByDate">Sort by Date:</label>
        <select id="sortByDate" name="sortByDate">
            <option value="asc">2024</option>
            <option value="desc">2023</option>
            <option value="desc">2022</option>
        </select>

        {{!-- <label for="sortByCreator">Sort by Event Creator:</label>
        <select id="sortByCreator" name="sortByCreator">
            <!-- options for event creators go here -->
        </select> --}}

        <label for="filterByCategory">Filter by Rating</label>
        <select id="filterByCategory" name="filterByCategory">
           <option value="desc">1</option>
           <option value="desc">2</option>
           <option value="desc">3</option>
           <option value="desc">4</option>
           <option value="desc">5</option>
        </select>

        <button type="submit">Apply</button>
    </form>

        <form id="reviewForm">
                {{!-- <label for="rating">Rating:</label>
    <select id="rating" name="rating">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
    </select>

    <label for="reviewText">Review:</label>
    <textarea id="reviewText" name="reviewText" rows="4" cols="50"></textarea>

    <!-- Hidden input for reviewerId, assuming it's stored somewhere -->
    <input type="hidden" id="reviewerId" name="reviewerId" value="">

    <!-- Hidden input for activityId, assuming it's stored somewhere -->
    <input type="hidden" id="activityId" name="activityId" value="">
    <button type="submit">Submit Review</button> --}}
    </form>

    <div id="allReviews">
        {{#each allReviews}}
        <div class="review">
    <h3>{{this.review}}</h3>
    <p>Rating: {{this.rating}}</p>
    <p>Review: {{this.reviewText}}</p>
    <a href="/reportReview/{{this._id}}" class="report-button">Report Review</a>
    
  </div>
  {{/each}}
    </div>
    </div>
    <p><a href="/" class="link link-size">Home</a></p>
    <script src="/public/js/reviewValidation.js"></script>
</body>
</html>