<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Results</title>
    <link rel="stylesheet" href="/public/css/styles.css">
</head>
<body>
    <h1 class="para">You've RSVP'd to this event!</h1>
    <div class="back-link">
    <p><a href="/" class="link link-size">Home</a></p>
    </div>
    <form id = eventForm></form>
    <script src="../public/js/eventValidation.js"></script>
</body>